<<<<<<< HEAD
.navbar-brand.tipo-logo{
    color: navy !important;
    font-size: x-large;
    font-weight: bolder;
}
=======
# Empty CSS file for your own CSS
>>>>>>> c48d1e1d22dc614edfa1cad56fef47b0c8ffd641
